<p>チャットルームへようこそ<p>
<p><%= @chat_room_user.name%>さんとのチャット</p>
<div class="container outer-border", id="chat_message_<%= @chat_room.id%>">
  <% @chat_messages.each do |message|%>
    <div class="">
      <% if message.user_id == current_user.id %>
        <div class= "text-left">
          <h6 ><%= message.user.name%></h6>
          <% if current_user.user_image.present?%>
            <%= image_tag @image, size: "100x100", class: "rounded-circle"%>
          <% else %>
            <%= image_tag 'CoffeeColorDashboard.jpeg', size: '100x100',class: "rounded-circle mb-3" %>
          <% end %>
          <br>
          <h6 class="balloon chat-message" id= "message-<%= message.id%>" >
            <%= message.content %>
            <button class="del" style="display:none;" data-message-id="<%= message.id%>">削除</button>
          </h6>
          
          <br>
          <% if message.created_at == @last_message %>
            <small><%= message.created_at %>に送信済み</small>
          <% end %>
          
        </div>
      <% else %>
        <div class= "text-right">
          <small ><%= message.user.name%></h6>
          <br>
          <small>
            <% if @chat_room_user.user_image.present?%>
              <%= image_tag @other_image, size: "100x100",class: " rounded-circle"%>
            <% else %>
              <%= image_tag 'CoffeeColorDashboard.jpeg', size: '100x100',class: "rounded-circle mb-3" %>
            <% end %>
          </small>
          <br>
          <h6 class="balloon-customer" ><%= message.content %></h6>
          <br>
          <% if message.created_at == @last_other_message %>
            <small><%= message.created_at %>に送信済み</small>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= form_with model: @chat_message, class: "chat-form" do |f| %>
    <%= f.hidden_field :chat_room_id, value: @chat_room.id %>
    <div class="textarea-container">
      <%= f.text_area :content, placeholder: "メッセージを入力", class: 'bold-textarea' %>
      <%= f.submit "送信", class: "submit-button" %>
    </div>
  <% end %>
</div>

