<div class="container center-block">
  <h4>イベント作成</h4>  
  <%= form_with(model: @task, url: tasks_path, method: :post, local: true) do |form| %>
    <%= form.datetime_field :start_time, class: 'w-25'%>
    <%= form.label "タイトル" %><br>
    <%= form.text_field :title, class: 'w-50'%><br>
    <%= form.label "内容", class: 'pt-2' %>
    <%= form.text_field :content, class: 'form-control'%><br>
    <%= form.submit "イベントを作成", class: 'btn btn-primary'%>
  <% end %>
  <br>
  <h4>登録されているイベントリスト</h4>
  <div class= "container">
    <% @task.each do |task|%>
    <div class="row d-flex">
      <%= task.event_day %>
      <%= task.title %>
      <%= task.content %>
    </div>
    <% end %>
  </div>

</div>
