<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <span>
        <%= link_to "マイページ", mypage_user_path %> > 会員情報の編集
      </span>

      <h3 class="mt-3 mb-3">会員情報の編集</h3>

      <hr>

      <%= form_with model: @user, url: mypage_user_path, local: true, method: :put do |f| %>
      
        
        <div class="form-group">
          <div class="flex-column">
            <% if @user.user_image.present? %>
              <span><b>[現在登録されている画像]</b></span>
              <p class="text-danger font09">※削除する場合は画像にチェックしてから更新してください</p><br>
              <div class="form-check">
                <%= f.check_box :user_image_id, {class: "form-check-input", id: "user_image-image-check"}, @user.user_image.id, false%>
                <label class="form-check-label" for="user_image-image-check">
                  <%= image_tag @user.user_image, width: 200, class: "mb-2"%>
                </label>
              </div>
            <% end %>
            
            <%= f.label :user_image, 'プロフィール画像(5MBまで)', class: "form-label fw-bold gap-3"%>
            <%= f.file_field :user_image, onchange: "userImage(this);", accept: "image/jpeg,image/gif,image/png", class: "mb-3 gap-3"%>
            <div id="user_image">
              <img id="user_image_preview" class="mb-3" width="100">
            </div>
            <%= f.submit "更新", class: "btn submit-button mt-3 w-25" %>
            
          </div>

          <hr>

          <div class="d-flex justify-content-between">
            
            
            <%= f.label :name, "氏名", class: "text-md-left -edit-user-info-label" %>
            <span onclick="switchEditUserInfo('.userName', '.editUserName', '.userNameEditLabel');" class="userNameEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userName">
            <h1 class="-edit-user-info-value"><%= @user.name %></h1>
          </div>
          <div class="collapse editUserName">
            <%=
              f.text_field :name,
              class: "form-control #{"is-invalid" if @user.errors.messages[:name].present? } ",
              value: @user.name,
              autofocus: "true",
              required: "",
              autocomplete: "name",
              placeholder: "名前を入力"
            %>

            <%= f.submit "保存", class: "btn submit-button mt-3 w-25" %>

            <% if @user.errors.messages[:name].present? %>
            <span class="invalid-feedback" role="alert">
              <strong>氏名を入力してください</strong>
            </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :email, "メールアドレス", class: "text-md-left -edit-user-info-label" %>
            <span onclick="switchEditUserInfo('.userMail', '.editUserMail', '.userMailEditLabel');" class="userMailEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userMail">
            <h1 class="-edit-user-info-value"><%= @user.email %></h1>
          </div>
          <div class="collapse editUserMail">
            <%=
              f.email_field :email,
              class: "form-control #{"is-invalid" if @user.errors.messages[:email].present? }",
              autofocus: "true",
              required: "",
              value: @user.email,
              autocomplete: "email",
              placeholder: "メールアドレスを入力"
            %>

            <%= f.submit "保存", class: "btn submit-button mt-3 w-25" %>

            <% if @user.errors.messages[:email].present? %>
            <span class="invalid-feedback" role="alert">
              <strong>メールアドレスを入力してください</strong>
            </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :phone, "電話番号", class: "text-md-left -edit-user-info-label" %>
            <span onclick="switchEditUserInfo('.userPhone', '.editUserPhone', 'userPhoneEditLabel');" class="userPhoneEditLabel user-edit-label">
              編集
            </span>
          </div>
          <div class="collapse show userPhone">
            <h1 class="-edit-user-info-value"><%= @user.phone %></h1>
          </div>
          <div class="collapse editUserPhone">
          <%= 
            f.text_field :phone,
            class: "form-control #{"is-invalid" if @user.errors.messages[:phone].present? }",
            value: @user.phone,
            autocomplete: "phone",
            placeholder: "XXX-XXXX-XXXX"
          %>

          <%= f.submit "保存", class: "btn submit-button mt-3 w-25" %>

          <% if @user.errors.messages[:phone].present? %>
          <span class="invalid-feedback" role="alert">
            <strong>電話番号を入力してください</strong>
          </span>
          <% end %>
        </div>
      </div>

      <hr>

      <% end %>
      <div class="d-flex justify-content-end">
        <%= form_with model: @user, url: mypage_delete_user_path, method: :delete, local: true do |f| %>
        <div class="btn dashboard-delete-link" data-bs-toggle="modal" data-bs-target="#delete-user-confirm-modal">退会する</div>

          <div class="modal fade" id="delete-user-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel"><label>本当に退会しますか？</label></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <div class="modal-body">
                  <p class="text-center">一度退会するとデータはすべて削除され復旧はできません。</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn " data-bs-dismiss="modal">キャンセル</button>
                  <button type="submit" class="btn btn-danger text-dark">退会する</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let switchEditUserInfo = (textClass, inputClass, labelClass) => {
      if ($(textClass).css('display') == 'block') {
          $(labelClass).text("キャンセル");
          $(textClass).collapse('hide');
          $(inputClass).collapse('show');
      } else {
          $(labelClass).text("編集");
          $(textClass).collapse('show');
          $(inputClass).collapse('hide');
      }
  }
  function userImage(obj){
  var fileReader = new FileReader();
  fileReader.onload = (function(){
    document.getElementById('user_image_preview').src = fileReader.result;
  });
  fileReader.readAsDataURL(obj.files[0]);
  }
</script>
