<div class="container d-flex  mt-1">
  <div class="w-100 mt-2">
    <thead>
      <tr>
        <h4>ユーザー一覧</h4>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <div class="container">
      <div class="row">
        <div class="col-md-2 border">
          <% @user_list.each do |list|%>
            <div class="user-items">
              <% if list.user_image.attached?%>
                <%= image_tag list.user_image, size: '100x100',class: "rounded-circle mb-3"%><br>
              <% else %>
                <%= image_tag 'CoffeeColorDashboard.jpeg', size: '100x100',class: "rounded-circle mb-3" %><br>
              <% end %>
              <div class="card-body">
                <h5 class= "card-title"><%= link_to list.name, user_path(list) %></h5>
                  <div id="following_forms_<%= list.id %>" class= "card-text">
                    <%= render "relationships/follow", list: list %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <h3 class="col-md-center">
      <% if @user.user_image.attached?%>
        <%= image_tag @image, size: '100x100',class: "rounded-circle mb-3"%><br>
      <% else %>
        <%= image_tag 'CoffeeColorDashboard.jpeg', size: '100x100',class: "rounded-circle mb-3" %><br>
      <% end %>
      <div><%= @profile[:name] %>さん<br>
      登録：<%= @profile[:is_roaster] %>
      </div>
    </h3>
    <%= render 'follow_list', user: @users%>
    <h3 class="text-left border-top pt-3">
      <%= search_form_for @q, url: mypage_search_results_user_index_path do |f|%>
        <%= f.label "検索"%>
        <%= f.search_field :name_cont, class: 'w-10', placeholder: '検索ワード'%>
        <%= f.submit '検索', class: 'btn btn-primary '%>
      <% end %>
    </h3>
    <hr>

    <div class="col-12 mg-5">
      <div class="row flex-column border-info align-items-light">最近の投稿
      </div>
    </div>
    <div class="posts border ">
      <% current_user.posts.each do |f| %>
        <% f.post_images.each do |img|%>
          <%= image_tag img, size: '100x100'%>
        <% end %><br>
        <%= f.title %> <br>
        <%= f.content %><br>
      <% end %>
      <div class="calendar">
        <%= month_calendar(events: @tasks) do |date, tasks| %>
          <%= date.day %>
          <% tasks.each do |task| %>
            <div>
              <%= task.title %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="card-deck">
      <div class="card col-12" style= "width: 18rem">
        <p>↓イベント作成はこちら↓</p>
        <div class="cardtitle">
        <%= link_to "イベント作成", tasks_path %>
        </div>
      <br>
        <div class="card-title">
          <% current_user.posts.each do |f|%>
          <%= f.title %><br>
        </div>
        <div class="card-text">
          <%= f.content%><br>
          <% end %>
        <a href="#" calss="btn btn-primary">
          <%= link_to "Go",posts_path, class: "btn btn-sm btn-primary"%>
        </a>
        </div>
      </div>
      <br>
      <div class="card col-12" style= "width: 18rem">
        <div class="card-body">
          <div class="card-title">お役立ちリンク<br>
          <%= link_to "ColorPicker",mypage_color_picker_user_index_path %>
          <br>
          <% current_user.posts.each do |f|%>
          <%= f.title %><br>
          </div>
          <div class="card-text">
          <%= f.content%>
          <% end %>
          <a href="#" calss="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-user fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label >会員情報の編集</label>
              <p>アカウント情報の編集</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to mypage_edit_user_index_path do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>

    <hr>
    <div id="map-container">
      <%= render 'maps/index'%>
    </div>
  
    <hr>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-sign-out-alt fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label >ログアウト</label>
              <p>ログアウトします</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>          
        </div>
      </div>
    </div>

    <hr>

  </div>
</div>
<<<<<<< HEAD
<script src="https://maps.googleapis.com/maps/api/js?key=
&callback=initMap" async defer></script>
=======
<script src="https://maps.googleapis.com/maps/api/js?key==initMap" async defer></script>
>>>>>>> ab0425d (rename)
<script>
  let map;
  let geocoder;
  function initMap(){
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map-container'), {
      center: {lat: 40.7828, lng:-73.9653},
      zoom: 12,
    });
    marker = new google.maps.Marker({
      position:  {lat: 40.7828, lng:-73.9653},
      map: map
    });
  }
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('該当結果がありませんでした:' + status);
      }
    });
  }
</script>
