<div class="container d-flex  mt-1">
  <div class="w-20">
    <h3 class="col-md-center"><%= @name %>さん</h3>
    
    <hr>
  
    <div class="col-12 mg-5">
      <div class="row flex-column border-info align-items-light">最近の投稿
      </div>
    </div>
    <div class="posts border ">
      <% current_user.posts.each do |f| %>
      <%= f.title %> <br>
      <%= f.content %><br>
      <% end %>
    </div>
    <div class="container">
      <div class="row">
        マイレシピ
        <div class="flex-column">
        <% current_user.posts.each do |f|%>
        <%= f.content %>
        <% end %>
        </div>
        <div class="col-5">
          投稿者
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-user fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">会員情報の編集</label>
              <p>アカウント情報の編集</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to mypage_edit_user_path do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-archive fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">注文履歴</label>
              <p>注文履歴を確認できます</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to mypage_user_path do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-map-marked fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-3 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">お届け先の変更</label>
              <p>登録住所の変更</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to mypage_address_edit_user_path do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>
    
    <hr>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-sign-out-alt fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">ログアウト</label>
              <p>ログアウトします</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>          
        </div>
      </div>
    </div>

    <hr>

  </div>
</div>
