<div class="container d-flex  mt-1">
  <div class="w-100 mt-2">
    <thead>
      <tr>
        <h4>ユーザー一覧</h4>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <div class="container mt-4">
      <% @user_list.each_slice(3) do |users|%>
        <div class="row">
          <% users.each do |user|%>
            <div class="col-md-3 mx-3 mb-3">
              <div class="user-items border">
                <% if user.user_image.attached?%>
                  <%= image_tag user.user_image, size: '150x150',class: "mt-3 rounded-circle  img-responsive"%><br>
                <% else %>
                  <%= image_tag 'CoffeeColorDashboard.jpeg', size: '150x150',class: "mt-3 rounded-circle img-responsive" %><br>
                <% end %>
                <div class="card-body">
                  <h5 class= "card-title"><%= link_to user.name, user_path(user) %></h5>
                  <div id="following_forms_<%= user.id %>" class= "card-text">
                    <%= render "relationships/follow", list: user %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% (3 -users.size).times do %>
            <div class= "col-md-2 mx-4 mb-4"></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <div class="row">  
        <h3 class="col-md-center">
          <% if @user.user_image.attached?%>
            <%= image_tag @image, size: '150x150',class: "rounded-circle mb-3"%><br>
          <% else %>
            <%= image_tag 'CoffeeColorDashboard.jpeg', size: '150x150',class: "rounded-circle mb-3" %><br>
          <% end %>
          <div><%= @profile[:name] %>さん<br>
          登録：<%= @profile[:is_roaster] %>
          </div>
        </h3>
      </div>
    </div>

    <%= render 'follow_list', user: @users%>
    <h3>チャット機能
      <% if @chat.present?%>
        <% @chat.each do |chat_user|%>
          <%= link_to "#{chat_user.name}さんとチャット", chat_rooms_path(user_id: chat_user.id),method: :post%>
        <% end %>
      <% else %>
        <h4>チャット可能なユーザーはいません</h4>
      <% end %>
    </h3>
    <h3 class="text-left border-top pt-3">
      <%= search_form_for @q, url: mypage_search_results_user_index_path do |f|%>
        <%= f.label "検索"%>
        <%= f.search_field :name_cont, class: 'w-10', placeholder: '名前で検索できます'%>
        <%= f.label "役割" %>
        <%= f.select :is_roaster_eq,
                      @user_list.is_roasters.keys.uniq.map{|key|[I18n.t("activerecord.enums.is_roaster.#{key}"),@user_list.is_roasters[key]]},
                      {include_blank: '指定なし'},
                      class: 'w-10' %>
        <%= f.submit '検索', class: 'btn btn-primary '%>
      <% end %>
    </h3>
    <hr>

    <div class="col-12 mg-5">
      <div class="row flex-column border-info align-items-light">最近の投稿
      </div>
    </div>
    <div class="posts border ">
      <% current_user.posts.each do |f| %>
        <% f.post_images.each do |img|%>
          <%= image_tag img, size: '100x100'%>
        <% end %><br>
        <%= f.title %> <br>
        <%= f.content %><br>
      <% end %>
      <div class="calendar">
        <%= month_calendar(events: @tasks) do |date, tasks| %>
          <%= date.day %>
          <% tasks.each do |task| %>
            <div>
              <%= task.title %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="card-deck">
      <div class="card col-12" style= "width: 18rem">
        <p>↓イベント作成はこちら↓</p>
        <div class="cardtitle">
        <%= link_to "イベント作成", tasks_path %>
        </div>
      <br>
        <div class="card-title">
          <% current_user.posts.each do |f|%>
          <%= f.title %><br>
        </div>
        <div class="card-text">
          <%= f.content%><br>
          <% end %>
        <a href="#" calss="btn btn-primary">
          <%= link_to "Go",posts_path, class: "btn btn-sm btn-primary"%>
        </a>
        </div>
      </div>
      <br>
      <div class="card col-12" style= "width: 18rem">
        <div class="card-body">
          <div class="card-title">お役立ちリンク<br>
          <%= link_to "ColorPicker",mypage_color_picker_user_index_path %>
          <br>
          <% current_user.posts.each do |f|%>
          <%= f.title %><br>
          </div>
          <div class="card-text">
          <%= f.content%>
          <% end %>
          <a href="#" calss="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-user fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label >会員情報の編集</label>
              <p>アカウント情報の編集</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to mypage_edit_user_index_path, data: {"turbolinks"=>false} do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>

    <hr>
    <div id="map-container">
      <%= render 'maps/index'%>
    </div>
  
    <hr>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-sign-out-alt fa-3x"></i>
          </div>
          <div class="col-9 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label >ログアウト</label>
              <p>ログアウトします</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>          
        </div>
      </div>
    </div>

    <hr>

  </div>
</div>
