<div class="w-75">

  <h1>顧客一覧</h1>
  
  <div class="w-75">
    <%= form_with url: dashboard_users_path, method: :get, local: true do |f| %>
      <div class="d-flex flex-inline form-group">
        <div class="d-flex align-items-center">
          ID･氏名など
        </div>
        <%= f.text_area :keyword, value: @keyword, class: "form-controll ml-2 w-50" %>
      </div>
      <%= f.submit "検索", class: "btn submit-button" %>
    <% end %>
  </div>

  <table class="table-fixed mt-5">
    <thead>
      <tr class="">
        <th scope="col" class="w-10">ID</th>
        <th scope="col" class="w-10">名前</th>
        <th scope="col" class="w-25">メールアドレス</th>
        <th scope="col" class= "w-20">電話番号</th>
        <th scope="col" class = "w-30">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></td>
        <td class= ><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td class="td-deleted_flg">
          <%= button_to "復旧", dashboard_user_path(user), method: :patch,remote: true, class: "deleted_flg", data: {user_id: user.id}%>
          <div class="flash-messages" >

          </div>
        </td>
        <td class="btn pt-2 td-deleted_flg ">
          <%= button_to "削除", dashboard_user_path(user), method: :delete, data:{confirm: '本当に削除しますか？'}, class: "deleted"%>
          <div class="flash-messages2" ></div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
