<h2>確認画面</h2>
<h4>Title: <%= @post.title %></h4>
<h3>Content: <%= @post.content %></h3>
<h3>画像</h3>

<% @image_blobs.each do |img|%>
  <div class="image-container  ">
    <%= image_tag rails_blob_path(img, only_path: true), id: "image_tag_#{img.id}",  width: 200, class: "mb-2"%>
    <br>
    <button id= "del_btn_#{img.id}" class= "btn btn-primary delete-button mb-3" data-image-id= "<%= img.id %>">削除</button>
  </div>
<% end %>
<%= form_with model: @post do |form| %>
  <%= form.hidden_field :title%>
  <%= form.hidden_field :content%>
  <%= form.submit '投稿編集画面に戻る',  name: 'back',class: "btn btn-primary", id: "back_button"%>
<% end %>
<%= form_with model: @post, url: post_path(@post),method: :patch  do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <% @post.post_images.each_with_index do |img,index|%>
    <%= hidden_field_tag "image_blob_ids[#{index}]", img.blob_id %>
  <% end %>
  <% @post.tag_ids.each do |tg|%>
    <%= hidden_field_tag "post[tag_ids][]", tg %>
  <% end %>
  <%= form.submit '投稿する', name: 'save',class: "btn btn-danger" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'user/edit_confirm'%>
<% end %>
