<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="row">Coffee Color New'z</h1>
  <span class="border-info container">ログイン中:<%= current_user.name %></span>
    <h5 class="text-left pt-3">Post検索</h5>
    <div class=" ">
    
    <%= render 'search', post: @posts, url: search_result_posts_path %>
  
    </div>
    <%= render @posts %>  
  
  <%= link_to '新しくPostを投稿', new_post_path %>
</div>
