<p id="notice"><%= notice %></p>

<h1>Coffee Color New'z</h1>
<span class="border-info">ログイン中:<%= current_user.name %></span>
  <h5 class="text-left pt-3">Post検索</h5>
  <div class=" text-left">
    
  <%= render 'search', post: @posts, url: search_result_posts_path %>
  
  </div>
  <%= render @posts %>
  
  <%= link_to 'New Post', new_post_path %>
  
