<h2 class="container text-center">「<%= params[:word] %>」の検索結果</h2>
<div class="container text-center">
  <% if @posts.present? %>
    <div class=" text-center">
      <% @posts.each do |result| %>
        <% if result.title.include?(params[:word]) && result.content.include?(params[:word])%>
          <p><strong><%= params[:title]%>と<%= params[:content] %></strong></p>
          <p>タイトル: <%= result.title %></p>
          <p>コンテンツ: <%= link_to result.content, post_path(result) %>
        <% elsif result.title.include?(params[:word]) %>
          <p><strong><%= params[:title] %></strong></p>
          <p>タイトル: <%= result.title%></p>
          <p>コンテンツ: <%= link_to result.content, post_path(result)%>
        <% elsif result.content.include?(params[:word])%>
          <p><strong><%= params[:title] %></strong></p>
          <p>タイトル: <%= result.title%></p>
          <p>コンテンツ: <%= link_to result.content, post_path(result)%>
        <% end %>    
      <% end %>
    </div>
  <% else %>
    <h3>一致する結果がありませんでした。</h3>
  <% end %>
</div>

