<p id="notice"><%= notice %></p>

<% if @post.favorited?(current_user) %>
  <%# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ %>
  <%= link_to post_favorites_path(@post.id), method: :delete do %>
      <span style="color:red;">いいね！やめる</span>
  <% end %>
<% else %>
  <%# # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ %>
  <%= link_to post_favorites_path(@post.id), method: :post do %>
      <span>❤︎</span>
  <% end %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.post_images.attached? %>
  <% @post.post_images.each do |img| %>
  <%= image_tag img, size: '300x300', class: "img-fluid rounded"%>
  <% end %>
<% end %>

<br>

<div class="btn ">
  <%= link_to "詳細ページへ", post_path(@post) %>
</div>



<%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-primary" %>
<%= link_to '戻る', posts_path, class: "btn btn-outline-primary" %>
<%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger" %>
