<p id="notice"><%= notice %></p>

<span id="likes_buttons_<%= @post.id %>">
  <%= render "favorites/like", post: @post %>
</span>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.post_images.attached? %>
  <% @post.post_images.each do |img| %>
  <%= image_tag img, size: '300x300', class: "img-fluid rounded"%>
  <% end %>
<% end %>

<br>

<h4>カラーピッカー</h4>

<br>


<i class="fas fa-location-arrow" id="arrow-icon"></i>
<input type="color" class="arrow-icon-color-selector" id="arrow-icon-colorーselector" value="#e66465">

<br>
<br>
<h2>コメント一覧</h2>

<%= form_with model:[@post, @comment],local: false do |f|%>
  <%= f.text_area :content, rows:'5', placeholder: "コメント追加できます！", class: "form-control mt-3"%>
    <div class="text-right">
      <% if @comment.present?%>
        <%= f.submit "投稿！", class: "btn btn-primary mt-3 mb-3"%>
      <% else %>
        <%= f.submit "投稿できません", class: "btn btn-secondary disabled" %>
      <% end %>
    </div>
<% end %>

<div id="comments_<%= @post_comments%>">
  <%= render 'comments/comments', post: @post_comments %>
</div>


<br>
<br>
<div class="btn">
  <%= link_to "詳細ページへ", post_path(@post) %>
</div>



<%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-primary" %>
<%= link_to '戻る', posts_path, class: "btn btn-outline-primary" %>
<%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger" %>
