<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/"><%= ENV["APP_NAME"] %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Right Side Of Navbar -->
          <ul class="navbar-nav ml-auto">
          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
          <% if user_signed_in? %>
            <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
            <%= link_to image_tag('CoffeeMark.jpeg',{ :size => '50x50', :alt => 'CoffeeMark'}),posts_path, class: "nav-link nav-item"%>
            <%= link_to mypage_user_path, class: "nav-link nav-item" do %>
            <i class="fas fa-coffee p-2"></i><label>マイページ</label>
            <% end %>
            <%= link_to logout_path, method: :delete, class: "nav-link nav-item" do %>
            <i class="fas fa-coffee p-2"></i><label>ログアウト</label>
            <% end %>
            
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "登録", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
